---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <article>
    <h1>About</h1>

    <p>
      このサイトは、個人の思考や学習の過程を記録するためのブログです。
    </p>

    <p>
      外向けの情報発信や商用目的を主としたものではありません。
    </p>
  </article>
</BaseLayout>
