---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

// posts コレクションを取得
const posts = await getCollection("posts");

// 日付で新しい順にソート
const sortedPosts = posts.sort(
  (a, b) =>
    new Date(b.data.published_date).getTime() -
    new Date(a.data.published_date).getTime()
);
---

<BaseLayout>
  <header>
    <h1>
      <a href="/">ブログタイトル</a>
    </h1>
  </header>

  <main>
    <ul>
      {sortedPosts.map((post) => (
        <li>
          <a href={`/${post.slug}/`}>
            <span>{post.data.published_date}</span>
            <span>{post.data.title}</span>
          </a>
        </li>
      ))}
    </ul>
  </main>

  <footer>
    <p>&copy; {new Date().getFullYear()}</p>
  </footer>
</BaseLayout>
