---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <article>
    <h1>Policy</h1>

    <p>
      当サイトに掲載している文章・画像の著作権は運営者に帰属します。
    </p>

    <p>
      引用の際は、出典を明記してください。
    </p>
  </article>
</BaseLayout>
